/*Horizontal Navigation Bar */
ul { /*top black bar*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

/*top yellow bar on about page for user manual*/
.user-manual-bar { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFCD00;
}

/*tells each piece to stay left aligned*/
li {
  float: left;
}

/*the box around the text of each header piece*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

/*when the mouse hovers on an option in the 
  top nav bar it turn this gray*/
li a:hover {
  background-color: #828282;
}

 /*Browse Fellowships, CCPD Fellowship Site, 
    About as well as Visit link*/
a{
  font-size: 18px;
  font-family: "HK Grotesk",Arial,sans-serif;
  font-weight: 400;
  color: #000000;
  text-decoration: underline;
}