/*Sidebar */
.sidebar {
  height: 90%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 10;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

/**/
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #828282;
  display: block;
  transition: 0.3s;
}

/*
.sidebar a:hover {
  color: #f1f1f1;
}
*/

h2 { /*Search fellowships, search box*/
  font-size: 22px;
  font-family: "PlayfairDisplay-Regular","Times New Roman",serif;
  font-weight: 400;
  text-align: left;
  margin-left: 0px;
  padding-left: 20px;
  display: inline-block;
}

/**/
#main {
  margin-left: 250px;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*Collapsible/Hamburger*/
.collapsible {
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

/*turns each filter box yellow when you hover*/
.collapsible:hover {
  background-color: #FFCD00;
}

/*turn the filter box darker gray upon click*/
.active {
  background-color: #b9b4b481;
}

/*+ button on the right side of the sidebar*/
.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/*- button on the right side of the sidebar*/
.active:after {
  content: "\2212";
}

/*piece that opens up with filtering options*/
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  color: black;
}

/*SU icon at bottom of sidebar*/
.icon-div {
  height: 150px;
  display: flex;
  align-items:center;
  justify-content: center;
}

/*
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: small;

/* Position the tooltip */
/*
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/