/*Horizontal Navigation Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #828282;
}

a{ /* Home, Browse Fellowships, CCPD Fellowship Site, GetHelp*/
  font-size: 18px;
  font-family: "HK Grotesk",Arial,sans-serif;
  font-weight: 400;
  color: #000000;
  text-decoration: underline;
}