/*All colors from SU style guide 
#FFFFFF
#000000
#FFCD00
#828282
*/


body {
    background-color: #FFFFFF;
  }

p {
  color: #000000;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  }

h1 { /* both links are h1 & a?? or p?*/
  color: #FFCD00;
  text-align: center;
}

h2{
  color: #000000;
  text-align: center;
}

a {
  color: #FFCD00;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

b {
  color: #000000;
  text-align: left;
}

th{
  margin-left: 200px;
  padding-left: 200px;
}
